.places{
    text-align: center;
}

.places h1{
    position: relative;
    text-align: left;
    font-size: 30px;
    padding-bottom: 0;
}

article{
    position: relative;
    text-align: center;
    display: inline-block;
    width: 390px;
    margin: 20px;
    padding: 20px;
    margin-top: 0;
    border: solid 1px #ff5a5f;
}

article h2{
    font-size: 30px;
    margin: 0;
    padding: 0;
}